@using PagedList.Mvc;
@using PagedList;

@model PagedList<TheFishingSpot.Web.Areas.News.Models.NewsViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var news in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">@Html.ActionLink(news.Title, "ShowDetails", new { id = news.Id })</h2>
        </div>
        <div class="panel-body">
            @news.Content
        </div>
        <div class="panel-footer">
            <p>
                Published on: <em>@news.PublishDate</em> By <em>@news.AuthorName</em>
                <span class="pull-right label label-info">@news.CommentsCount Comments</span>
            </p>
        </div>
    </div>
}

<div class="row">
    <div class="text-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount News
    </div>
</div>