@model TheFishingSpot.Web.Areas.News.Models.NewsDetailedViewModel
@{
    ViewBag.Title = "ShowDetails";
}

<h2>@Model.Title Details</h2>

<div class="jumbotron">
    <p>@Html.Raw(Model.Content)</p>
    <p>Published on: <em>@Model.PublishDate</em> By <em>@Model.AuthorName</em></p>
    <div class="row">
        <p class="pull-right">
            @Ajax.ActionLink("Show Comments", "ShowComments", "Comments", new { id = Model.Id },
            new AjaxOptions
            {
                UpdateTargetId = "comments",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            }, new { @class = "btn btn-primary btn-xs" })

            @if (User.Identity.IsAuthenticated)
            {
                @Ajax.ActionLink("Add Comment", "ShowAddCommentForm", "Comments", new { id = Model.Id },
            new AjaxOptions
            {
                UpdateTargetId = "add-comment-form",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            }, new { @class = "btn btn-primary btn-xs" })
            }
        </p>
    </div>
</div>
<div id="add-comment-form" class="form-group">
</div>
<div id="comments">
</div>
@section Scripts {
    @Scripts.Render("/Scripts/custom/clear-comment-form.js")
}